<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- <node pkg="sawRobotIO1394QtConsole" name="robot" -->
    <!--       type="sawRobotIO1394QtConsole" output="screen" -->
    <!--       args="-c sawRobotIO1394-MTMR-28247.xml -n MTMR"/> -->
    <node pkg="sawRobotIO1394QtConsole" name="velocity"
          type="velocity.py" output="screen"/>

    <node pkg="rqt_plot" name="plot"
          type="rqt_plot" output="screen" args="/MTMR/joint_velocity/joint1"/>
</launch>